
header{
	width: 100%;
	height: 32px;
	background: #f7f7f7;
}
header .mainheader{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
header .mainheader .welcome,.login,.regist{
	font-size: 12px;
	color: #707f89;
	font-family: "苹方";
	line-height: 32px;
	font-weight: 800;
	
}
header .mainheader .welcome{
	margin-left: 13px;
}
header .mainheader .regist{
	float: right;
	color: #4753e9;
}
header .mainheader .login{
	float: right;
	margin-right: 16px;
}
.logo{
	width: 100%;
	height: 120px;
	background: white;
}
.logo .main{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.logo .main .lo-left{
   width: 420px;
   height: 60px;
   margin-top: 30px;
   float: left;
}
.logo .main .lo-left .logo{
	width: 60px;
	height: 60px;
	float: left;

}
.logo .main .lo-left .name{
	width: 100px;
	overflow: hidden;
	float: left;
	margin-left: 15px;
}
.logo .main .lo-left .name .tuzhi{
	font-size:22px;
	font-family: "苹方";
	font-weight: 600; 
	color: #0f3145;

}
.logo .main .lo-left .name .edu{
	font-size: 16px;
	font-family: "苹方";
	font-weight: 400; 
	color: #48606e;


}
.logo .main .lo-left .desi{
	font-size: 14px;
	font-family: "苹方";
	font-weight: 600;
	color:#999999;
	margin-left: 40px;
	float: left;
	height: 100%;
	line-height: 60px;
}
.logo .main .lo-left .desi .desi-{
	float: left;
}
.logo .main .lo-right{
	width: 280px;
	height: 50px;
	float: right;
	margin-top: 35px;
}
.logo .main .lo-right .call{
	width: 50px;
	height: 50px;
	float: left;
}
.logo .main .lo-right .please{
	width: 210px;
	font-size: 14px;
	color: #707f89;
	font-family: "苹方";
	font-weight: 800;
	margin-left: 17px;
	float: left;

}
.logo .main .lo-right .tel{
	width: 210px;
	font-size: 22px;
	color: #e8883a;
	font-family: "苹方";
	font-weight: 900;
	margin-left: 17px;
	float: left;

}
.banner{
	width: 100%;
	height: 800px;
	background: url('../img/banner.png') center center no-repeat;

}
.banner nav{
	width: 100%;
	height: 95px;
	margin: 0 auto;
	background:rgba(33, 34, 50, 0.7);
	position: relative;

}
.banner nav ul{
	width: 1100px;
	height: 100%;
	margin: 0 auto;
	
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.banner nav ul li{
	font-size: 24px;
	/* font-family: "微软雅黑"; */
	color: white;

}
.banner nav .line{
	width: 158px;
	height: 6px;
	background: #deab3d;
	position: absolute;
	bottom: 0;
	left: 135px;

}
.banner .know{
	font-size: 70px;
	color: white;
	font-weight: 800;
	font-family: "苹方";
	margin-left: 900px;
	margin-top: 212px;
	float: left;
}
.banner .feture{
	font-size: 34px;
	font-weight: 900;
	font-family: "苹方";
	margin-left: 900px;
	margin-top: 300px;
	/* float: left; */
}
.banner input{
	width: 258px;
	height: 94px;
	background: url('../img/anniu.png') center center no-repeat;
	margin-left: 900px;
	margin-top: 70px;
	border: 0px;
	color: white;
	font-size: 38px;
	font-family: "苹方";
}
section{
	width: 100%;
	overflow: hidden;
}
.courses{
	width: 100%;
	height: 642px;
	background:#edeefa;


}
.cou-main{
	width: 1200px;
	height: 522px;
	margin: 0 auto;

}
.courses .header{
	width: 100%;
	height: 50px;
	text-align: center;
	float: left;
	margin-top: 56px;
}
.courses .header .cou{
	font-size: 28px;
	color: #48367b;
	font-weight: 600;
	font-family: "苹方";
}
.courses .header .eng{
	font-size: 16px;
	color: #666666;
	font-weight: 600;
	font-family: "苹方";
}
.courses ul{
	width: 1200px;
	height: 410px;
	margin-top: 60px; 
	margin-bottom: 60px; 
	float: left;
	display: flex;
	justify-content: space-between;
}
.courses ul li{
	height: 100%;
	background: white;
}
.courses ul li .im{
	width: 360px;
	height: 270px;
}
.courses ul li p{
	text-align: center;
	color: black;
	font-family: "苹方";

}
.courses ul li .teach{
	font-size: 28px;
	margin-top: 40px;
	font-weight: 600;
}
.courses ul li .pre{
	font-size: 14px;
	margin-top: 20px;
	font-weight: 600;
}
section .tuzhi{
	width: 100%;
	height: 504px;
	background: white;
}
section .tuzhi .tu-header{
	width: 1200px;
	height: 160px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 115px;
	

}
section .tuzhi .tu-header .cou{
	font-size: 28px;
	color: #48367b;
	font-weight: 600;
	font-family: "苹方";
	margin-top: 60px;

}
section .tuzhi .tu-header .eng{
	font-size: 16px;
	color: #666666;
	font-weight: 600;
	font-family: "苹方";
}
section .tuzhi .tu-header .int{
	font-size: 18px;
	color: #666666;
	font-weight: 600;
	font-family: "苹方";
	margin-top: 20px;

}
section .tuzhi ul{
	width: 1086px;
	overflow: hidden;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;

}
section .tuzhi ul li{
	overflow: hidden;
}
.Teach{
	width: 100%;
	overflow: hidden;
	background: white;

}
.Teach .te-header{
	width: 1200px;
	height: 54px;
	margin: 0 auto;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 88px;

}
.Teach .te-header .cou{
	font-size: 28px;
	color: #48367b;
	font-weight: 600;
	font-family: "苹方";

}
.Teach .te-header .eng{
	font-size: 16px;
	color: #666666;
	font-weight: 600;
	font-family: "苹方";
}
.Teach ul{
	width: 1200px;
	height: 660px;
	margin: 0 auto;
}
.Teach ul li{
	width: 100%;
	height: 180px;
	float: left;
	margin-bottom: 60px;
}
.Teach ul li .t-left{
	width: 260px;
	height: 100%;
	float: left;
}
.Teach ul li .t-left .shuzi{
	font-weight: 900;
	font-size: 70px;
	color: #3a47e8;
	font-family: "苹方"

}
.Teach ul li .t-left .de{
	font-weight: 700;
	font-size: 14px;
	color: #3a47e8;
	font-family: "苹方"

}
.Teach ul li .t-zhong{
	width: 613px;
	height: 100%;
	float: left;
}
.Teach ul li .t-zhong .top{
	font-weight: 900;
	font-size: 18px;
	font-family: "苹方";
	margin-top: 10px;

}
.Teach ul li .t-zhong .middle{
	font-weight: 500;
	font-size: 14px;
	line-height: 35px;
	font-family: "苹方";
	margin-top: 13px;

}
.Teach ul li .t-zhong .bottom{
	font-weight: 500;
	font-size: 14px;
	line-height: 35px;
	font-family: "苹方";
	margin-top: 5px;

}
.Teach ul li .t-right{
	width: 278px;
	height: 100%;
	float: right;
}
.contact{
	width: 100%;
	height: 645px;
	background: url('../img/contact.png') center center no-repeat ;



}
.contact .zhezhao{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	
}
.contact .zhezhao .main{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.contact .zhezhao .school{
	position: absolute;
	top: 100px;
	left: 0px;
	font-size: 34px;
	color: #e7ad22;
	font-weight: 600;
}
.contact .zhezhao .where{
	position: absolute;
	top: 150px;
	left: 0;
	font-size: 40px;
	width: 580px;
	color: white;
	font-family: "苹方";
	font-weight: 400;
}
.contact .zhezhao .form{
	width: 380px;
	height: 525px;
	position: absolute;
	top: 100px;
	right:0px;
	background: white;
}
.contact .zhezhao .form .top{
	width: 100%;
	height: 173px;
	background: url('../img/form.png') center center no-repeat;
	color: white;
	font-family: "苹方";
}
.contact .zhezhao .form .top .cw{
	float: left;
	margin-top: 40px;
	margin-left: 122px;
	font-size: 34px;
	font-weight: 600;

}
.contact .zhezhao .form .top .help{
	float: left;
	margin-top: 20px;
	margin-left: 122px;
	font-size: 12px;
	font-weight: 600;
}
.contact .zhezhao .form .bottom{
	width: 100%;
	height: 352px;

}
.contact .zhezhao .form .bottom input{
	width: 320px;
	height: 44px;
	border: 1px solid #cccccc;
	margin-top: 15px;
	margin-left: 30px;
	

}
.contact .zhezhao .form .bottom input:nth-child(1){
	margin-top: 60px;
	font-size: 14px;
}
.contact .zhezhao .form .bottom .youxiang,.tel{
	font-size: 14px;
}
.contact .zhezhao .form .tijiao{
	background: #3a47e8;
	color: white;
	font-size: 24px;
	font-family: "苹方";
	font-weight: 600;
}
.student{
	width: 100%;
	overflow: hidden;
	margin-bottom: 80px;
	background: white;
}
.student .stu-main{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.student .stu-header{
	width: 1200px;
	height: 54px;
	margin: 0 auto;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 88px;

}
.student .stu-header .cou{
	font-size: 28px;
	color: #48367b;
	font-weight: 600;
	font-family: "苹方";

}
.student .stu-header .eng{
	font-size: 16px;
	color: #666666;
	font-weight: 600;
	font-family: "苹方";
}
.student ul{
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}
.student ul li{
	width: 360px;
	height: 552px;
	border: 1px solid #cccccc;
}
.student ul li .stu-im{
	width: 100%;
	height: 360px;
	float: left;
}
.student ul li .stu-im img{
	width: 100%;
	height: 100%;
	float: left;
}
.student ul li .yuanim{
	width: 67px;
	height: 67px;
	margin-top: -33.5px;
	float: left;
	margin-left: 40.5%;
	
}
.student ul li .yuanim img{
	width: 100%;
	height: 100%;
	float: left;
}
.student ul li .na{
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 20px;
	font-size: 14px;
	color: #67686d;
	font-weight: 700;
	font-family: "苹方";
}
.student ul li .miaoshu{
	width: 80%;
	float: left;
	margin-top: 20px;
	margin-left: 10%;
	font-size: 14px;
	color: #080b35;
	font-weight: 800;
	line-height: 30px;
	text-align: center;
	font-family: "苹方";
}
.suggition{
	width: 100%;
	height: 200px;
	background: #eeeeee;

}
.suggition .jianyi{
	width:650px;
	height:124px;
	float: left;
	margin-top: 38px;
	margin-left: 26%;
	
}
.suggition .jianyi .su-im{
	width: 123px;
	height: 123px;
	float: left;
}
.suggition .jianyi .su-im img{
	width: 100%;
	height: 100%;
	float: left;
}
.suggition .jianyi p{
	float: left;
	font-size: 18px;
	margin-left: 16px;
	margin-top: 11px;
}
.suggition .jianyi .fasong{
	width: 510px;
	height: 77px;
	float: left;
	margin-left: 16px;
	border: 1px solid #dfdfdf;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background: white;
	margin-top: 14px;
}
.suggition .jianyi .fasong .fa1{
	width: 88%;
	float: left;
	height: 100%;
	border: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.suggition .jianyi .fasong .fa2{
	width: 12%;
	float: right;
	height: 100%;
	border: 0px;
	background: #3a47e8;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color: white;
	font-size: 21px;
	font-family: "苹方";

}
footer{
	width: 100%;
	height: 437px;
	background: url('../img/map.png') center center no-repeat;
	position: relative;
}
footer .zhe{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(55, 62, 99, 0.9);
	
}
footer .fo-main{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	color: white;
	position: relative;
}
footer .fo-main .fo-left{
	width: 350px;
	height: 389px;
	float: left;
	margin-top: 48px;
	position: relative;
}
footer .fo-main .fo-left .logo1{
	height: 75px;
	float: left;
}
footer .fo-main .fo-left .logo1 img{
	width: 75px;
	height: 75px;
	float: left;
}
footer .fo-main .fo-left .logo1 .tuzhi{
	float: left;
	width: 200px;
	font-size: 22px;
	margin-left: 20px;
	font-weight: 600;
	font-family: "苹方";
	margin-top: 10px;
}
footer .fo-main .fo-left .logo1 .edu{
	float: left;
	font-size: 22px;
	margin-left: 20px;
}
footer .fo-main .fo-left .guanzhu{
	width: 251px;
	height: 44px;
	float: left;
	line-height: 44px;
	font-weight: 500;
	font-size: 18px;
	font-family: "苹方";
	margin-top: 48px;
}
footer .fo-main .fo-left .guanzhu img{
	width: 43px;
	height: 43px;
	float:right;
	margin-left: 12px; 
}
footer .fo-main .fo-left .hezuo{
	color: white;
	font-size: 18px;
	font-family: "苹方";
	float:left;
	margin-top: 50px;
	line-height: 30px;
	position: absolute;
	bottom: 60px;
}
footer .fo-main dl{
	float: right;
	color: white;
	font-size: 18px;
	margin-top: 48px;
	line-height: 32px;
	font-family: "苹方";
	margin-left: 146px;
	text-align:left;
}
footer .fo-main dl dt{
	color: white;
	font-weight: 800;

}
footer .fo-main dl dd{
	color: white;
}
footer .fo-main .fo-bottom{
	width: 280px;
	height: 50px;
	position: absolute;
	bottom: 60px;
	right: 18%;
}
footer .fo-main .fo-bottom .call{
	width: 50px;
	height: 50px;
	float: left;
}
footer .fo-main .fo-bottom .please{
	width: 210px;
	font-size: 14px;
	color: white;
	font-family: "苹方";
	font-weight: 800;
	margin-left: 17px;
	float: left;

}
footer .fo-main .fo-bottom .tel{
	width: 210px;
	font-size: 24px;
	color: white;
	font-family: "苹方";
	font-weight: 900;
	margin-left: 17px;
	float: left;

}
footer .fo-main .erwei{
	width: 110px;
	height: 110px;
	position: absolute;
	bottom: 60px;
	right: 0;
}