body,a{
	font-family: "苹方";
}
.navbar-brand{
	font-size: 30px;
	line-height: 40px;
	color: white;
}
header .main-menu ul li a{
	font-size: 18px;
}
.banner-content h3{
	font-weight: 700;
    line-height: 50px;
	font-family: "苹方";
}
@media screen and (max-width: 992px){
	.navbar-right{
		width: 100%;
		display: flex;
		justify-content: space-around;
	}
}

.mess p{
	padding-left: 10%;
}
h3,h4,h5{
	text-align: center;
}
 .text-center h3{
 	margin-top: 30px;
 }
 .text-center h3,h4{
 	font-family: "苹方";
 }
 .overlay p{
	margin-top: 20px;
	line-height: 30px;
 }
 .team-social a{
 	display: block;
 	color: white;
 	text-align: center;
 	line-height: 36px;
 	margin-top: 20px;
 }
.portfolio{
	margin-top: 50px;
}
#contact{
	margin-top: 50px;
	margin-bottom: 20px;
}
#skills{
	margin-bottom: 20px;
}