
.services-section {
  background: #f6f6f6;
}
.service-item {
  text-align: center;
  margin-bottom: 60px;
}
.service-item h4 {
  font-weight: 600;
}
.service-item .icon {
  width: 50px;
  height: 50px;
  display: table;
  margin: 0 auto;
  position: relative;
  top: 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.service-item .icon i {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 28px;
}
.service-item .icon:after,
.service-item .icon:before,
.service-item .icon span:after,
.service-item .icon span:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.service-item .icon:after {
  left: 0;
  top: 0;
  border-left: 2px solid #333;
  border-top: 2px solid #333;
}
.service-item .icon:before {
  right: 0;
  bottom: 0;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
}
.service-item .icon span:after {
  right: 0;
  top: 0;
  border-right: 2px solid #333;
  border-top: 2px solid #333;
}
.service-item .icon span:before {
  left: 0;
  bottom: 0;
  border-left: 2px solid #333;
  border-bottom: 2px solid #333;
}
.service-item:hover .icon:after,
.service-item:hover .icon:before,
.service-item:hover .icon span:after,
.service-item:hover .icon span:before {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 1;
}
.service-item:hover .icon {
  top: -10px;
}
